body {
    font-family: 'Helvatica', 'Arial', sans-serif;
    background-color: #272530;
    color: white;
    font-weight: 700;
    padding: 10px;
}

h2 {
    color: #efefef;
    font-weight: 400;
}

a:link{
  color: #009eff;
}

a:visited {
    color: #a56eff;
}

code {
    font-family: 'Fira Code', 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', 'Courier New', monospace;
    line-height: 1.5;
    font-size: 80%;
    color: #efefef;
    background-color: #202020;
    border: 1px solid #efefef;
    padding: 10px;
}

output {
font-family: 'Fira Code', 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', 'Courier New', monospace;
    line-height: 1.5;
    font-size: 80%;
    color: #efefef;
    background-color: #202020;
    border: 1px solid #efefef;
    padding: 10px;
}