body {
    font-family: 'Jetbrains Mono', 'Lucida console', sans-serif;
    background-color: #272530;
    color: white;
    font-weight: 700;
    padding: 10px;
}

h2 {
    color: #efefef;
    font-weight: 400;
}

a:visited {
    color: #a56eff;
}